@CHARSET "UTF-8";

/*********** BUTTONS ***************/
.button, .button-primary, .button:HOVER, .button-primary:HOVER {
	font-family: monospace;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/*IE only*/
	border: solid 3px\9;
}

.button:disabled, .button:hover:disabled, .button:active:disabled, .button-primary:disabled, .button-primary:hover:disabled, .button-primary:active:disabled
	{
	background-color: gray;
	color: white;
	font-weight: normal;
}

.button-primary, .button, .button-primary:ACTIVE:disabled, .button:ACTIVE:disabled {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.button-primary, .button {
	/*position: relative;*/
	color: #fff;
	background-color: #00adee;
	cursor: pointer;
	padding: 4px;
	border-style: solid;
	border-radius: 10px;
	border-color: #fff;
	margin: 2px;
}

.button-primary:ACTIVE, .button:ACTIVE {
	box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.5);
}

.button, .button:HOVER {
	/* non IE*/
	color: #000;
	background-color: #f4ce2d;
}

.button, .button-primary {
	/*IE only*/
	border-top-color: #fff\9;
	border-left-color: #fff\9;
	border-right-color: #c0c0c0\9;
	border-bottom-color: #c0c0c0\9;
}

.button-primary:HOVER, .button:HOVER {
	font-weight: bold;
	/*IE only*/
}

.button-primary:HOVER {
	color: yellow;
}

/*********** BUTTONS ***************/
.files_list {
	position: relative;
	overflow-Y: scroll;
	background-color: #fff;
	border: 1px solid;
	border-color: #C0C0C0;
	padding: 10px;
	margin: 10px;
}

.btn_action {
	cursor: pointer;
}

.btn_action:HOVER {
	box-shadow: 0 0 10px #00ADEE;
	border-radius: 10px;
}

.projlist tr:HOVER {
	background-color: #f0f0f0;
}

table td {
	padding: 5px;
}

label {
	font-weight: bold;
	color: #444;
}

label:HOVER {
	color: #00ADEE;
	cursor: pointer;
}

.loading:before {
	content: url(../img/loadbar.gif);
	display: block;
	z-index: 1001;
	position: absolute;
	bottom: 50%;
	right: 50%;
	margin-right: -64px;
	margin-bottom: -12px;
}

.row:HOVER {
	background-color: #f0f0f0;
}

body {
	background-color: #e1f4fb;
	font-family: monospace;
}

.footer {
	color: #000;
	clear: both;
	width: 770px;
	font-size: 1.1em;
	margin: auto;
	text-align: center;
	padding: 10px 0px;
}

.feedback-btn {
	padding: 3px;
	position: relative;
	width: auto;
	whitespace-wrap: nowrap;
	float: right;
	left: 5px;
	top: -7px;
	color: white;
	background-color: #00ADEE;
	border: solid 3px;
	border-color: #00ADEE;
	box-shadow: -2px 2px 5px #000;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: left top;
	-moz-transform: rotate(270deg);
	-moz-transform-origin: left top;
	-ms-transform: rotate(270deg);
	-ms-transform-origin: left top;
	-o-transform: rotate(270deg);
	-o-transform-origin: left top;
	transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	transform-origin: right top;
}

.feedback-box {
	position: fixed;
	width: 400px;
	top: 50%;
	transform: translateY(-50%);
	left: -414px;
	height: 310px;
	cursor: pointer;
	padding: 4px;
	border-style: solid;
	border-color: #00adee;
	box-shadow: -2px 2px 5px #000;
	background: white;
	opacity: 1;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.help {
	cursor: help;
	color: #00ADEE;
}

a {
	color: #00A0D2;
	text-decoration: none;
}

a:HOVER {
	color: #F8A283;
}